/* add your CSS here */
#panda{
  width: 300px;
  height: 168px;
}

#holder{
  padding: 10px;
  border-width: 1px;
  border-color: #A9A9A9;
  border-style: solid;
  position: absolute;
  margin:5px;
  box-shadow: 5px 5px #A9A9A9;
}
#text-holder{
  margin-top: 10px;
  padding: 10px;
  width: 280px;
  border-style: solid;
  border-width: 1px;
  border-color: #A9A9A9;
  position: relative;
}
